@model ProductFaqSearchModel

<nop-card asp-name="product-faq"
          asp-icon="far fa-question-circle"
          asp-title="@T("Plugins.Misc.ProductFaq.Admin.ProductBlock.Title")"
          asp-hide-block-attribute-name="ProductFaq.HideProductBlock"
          asp-hide="false"
          asp-advanced="false">
    @if (Model.ProductId > 0)
    {
        <div class="card-body">
            <div class="text-muted mb-3">
                @T("Plugins.Misc.ProductFaq.Admin.ProductBlock.Hint")
            </div>

            @await Html.PartialAsync("Table", new DataTablesModel
            {
                Name = "productfaq-grid",
                UrlRead = new DataUrl("List", "ProductFaq", new RouteValueDictionary { [nameof(ProductFaqSearchModel.ProductId)] = Model.ProductId }),
                UrlUpdate = new DataUrl("Update", "ProductFaq", null),
                UrlDelete = new DataUrl("Delete", "ProductFaq", null),
                Length = Model.PageSize,
                LengthMenu = Model.AvailablePageSizes,
                ColumnCollection = new List<ColumnProperty>
                {
                    new ColumnProperty(nameof(ProductFaqModel.Question))
                    {
                        Title = T("Plugins.Misc.ProductFaq.Fields.Question").Text,
                        Width = "280",
                        Editable = true,
                        EditType = EditType.String
                    },
                    new ColumnProperty(nameof(ProductFaqModel.Answer))
                    {
                        Title = T("Plugins.Misc.ProductFaq.Fields.Answer").Text,
                        Width = "360",
                        Editable = true,
                        EditType = EditType.String
                    },
                    new ColumnProperty(nameof(ProductFaqModel.DisplayOrder))
                    {
                        Title = T("Plugins.Misc.ProductFaq.Fields.DisplayOrder").Text,
                        Width = "120",
                        ClassName = NopColumnClassDefaults.CenterAll,
                        Editable = true,
                        EditType = EditType.Number
                    },
                    new ColumnProperty(nameof(ProductFaqModel.Published))
                    {
                        Title = T("Plugins.Misc.ProductFaq.Fields.Published").Text,
                        Width = "120",
                        ClassName = NopColumnClassDefaults.CenterAll,
                        Render = new RenderBoolean(),
                        Editable = true,
                        EditType = EditType.Checkbox
                    },
                    new ColumnProperty(nameof(ProductFaqModel.Id))
                    {
                        Title = T("Admin.Common.Edit").Text,
                        Width = "180",
                        ClassName = NopColumnClassDefaults.Button,
                        Render = new RenderButtonsInlineEdit()
                    },
                    new ColumnProperty(nameof(ProductFaqModel.Id))
                    {
                        Title = T("Admin.Common.Delete").Text,
                        Width = "120",
                        ClassName = NopColumnClassDefaults.Button,
                        Render = new RenderButtonRemove(T("Admin.Common.Delete").Text)
                    }
                }
            })

            <div class="card card-default no-margin mt-3">
                <div class="card-header">
                    @T("Admin.Common.AddNewRecord")
                </div>
                <div class="card-body">
                    <input type="hidden" asp-for="AddProductFaq.ProductId" />

                    <div class="form-group row">
                        <div class="col-md-3">
                            <nop-label asp-for="AddProductFaq.Question" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="AddProductFaq.Question" />
                            <span asp-validation-for="AddProductFaq.Question"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-3">
                            <nop-label asp-for="AddProductFaq.Answer" />
                        </div>
                        <div class="col-md-9">
                            <nop-textarea asp-for="AddProductFaq.Answer" />
                            <span asp-validation-for="AddProductFaq.Answer"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-3">
                            <nop-label asp-for="AddProductFaq.DisplayOrder" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="AddProductFaq.DisplayOrder" />
                            <span asp-validation-for="AddProductFaq.DisplayOrder"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-3">
                            <nop-label asp-for="AddProductFaq.Published" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="AddProductFaq.Published" />
                            <span asp-validation-for="AddProductFaq.Published"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-9 offset-md-3">
                            <button type="button" id="addProductFaq" class="btn btn-primary">
                                @T("Admin.Common.AddNewRecord")
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <script>
                $(document).ready(function () {
                    $('#addProductFaq').click(function () {
                        $('#addProductFaq').attr('disabled', true);

                        var displayOrder = $("#@Html.IdFor(model => model.AddProductFaq.DisplayOrder)").data("kendoNumericTextBox");
                        var postData = {
                            ProductId: $("#@Html.IdFor(model => model.AddProductFaq.ProductId)").val(),
                            Question: $("#@Html.IdFor(model => model.AddProductFaq.Question)").val(),
                            Answer: $("#@Html.IdFor(model => model.AddProductFaq.Answer)").val(),
                            DisplayOrder: displayOrder ? displayOrder.value() : $("#@Html.IdFor(model => model.AddProductFaq.DisplayOrder)").val(),
                            Published: $("#@Html.IdFor(model => model.AddProductFaq.Published)").is(':checked')
                        };

                        addAntiForgeryToken(postData);

                        $.ajax({
                            cache: false,
                            type: "POST",
                            url: "@Html.Raw(Url.Action("Create", "ProductFaq"))",
                            data: postData,
                            success: function (data) {
                                if (data.Result) {
                                    updateTable('#productfaq-grid');
                                    $("#@Html.IdFor(model => model.AddProductFaq.Question)").val('');
                                    $("#@Html.IdFor(model => model.AddProductFaq.Answer)").val('');
                                    if (displayOrder) {
                                        displayOrder.value(0);
                                    }
                                    $("#@Html.IdFor(model => model.AddProductFaq.Published)").prop('checked', true);
                                } else {
                                    display_nop_error(data);
                                }
                            },
                            complete: function () {
                                $('#addProductFaq').attr('disabled', false);
                            }
                        });
                    });
                });
            </script>
        </div>
    }
    else
    {
        <div class="card-body">
            @T("Plugins.Misc.ProductFaq.Admin.ProductBlock.SaveBeforeEdit")
        </div>
    }
</nop-card>
